# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Auth (GitHub OAuth)
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# Database (Postgres)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/guvcode

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# Support
NEXT_PUBLIC_SUPPORT_EMAIL=support@guv.dev
